<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhiskeyEditor.Project.Project" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WhiskeyEditor.Project.Project>
            <setting name="Name" serializeAs="String">
                <value>Unnamed</value>
            </setting>
            <setting name="LastScene" serializeAs="String">
                <value>nothing</value>
            </setting>
        </WhiskeyEditor.Project.Project>
    </userSettings>
</configuration>