<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gramma.Serialization" version="1.1.1" targetFramework="net45" />
  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" targetFramework="net45" />
  <package id="JSON" version="1.0.1" targetFramework="net45" />
  <package id="knockoutjs" version="3.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="Punch.Contracts" version="2.0.58" targetFramework="net45" />
  <package id="Punch.Core" version="2.0.58" targetFramework="net45" />
  <package id="Punch.Serialization" version="2.0.58" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.31" targetFramework="net45" />
  <package id="SharpSerializer" version="2.20" targetFramework="net45" />
  <package id="Smile.Serialization" version="2.1.0" targetFramework="net45" />
</packages>